<h1 style="margin-left: 400px"> Chi Tiet sach</h1>
<div class="container" style="margin-left: 400px">
  <!--  <table style="border: 1px solid black">-->
  <!--    <tr>-->
  <!--      <th>Title</th>-->
  <!--      <th>Author</th>-->
  <!--      <th>Description</th>-->
  <!--    </tr>-->
  <!--    <tr>-->
  <!--      <td>{{book.title}}</td>-->
  <!--      <td>{{book.author}}</td>-->
  <!--      <td>{{book.description}}</td>-->
  <!--    </tr>-->
  <!--  </table>-->
  <div style="border: 1px">
    Title: <h3>{{book.title}}</h3>
    <hr>
    Author: <h4>{{book.author}}</h4>
    <hr>
    Des: <h5>{{book.description}}</h5>
  </div>
</div>
